<div class="nav-bar-wrapper">
  <div class="nav-bar-card">
    <a href="#" class="login-btn">Login</a>
    <a href="#" class="reg-btn">Register</a>
    <div class="container-right">
      <a href="#contact" class="contact-btn">Contact</a>
      <a href="#menu" class="menu-btn">Menu</a>
    </div>
  </div>
</div>
