<div class="nav-bar-wrapper">
  <div class="nav-bar-card">
    <div>
      <a href="#" class="nav-button">Login</a>
      <a href="#" class="nav-button">Register</a>
    </div>
    <div class="container-right">
      <a href="#contact" class="nav-button">Contact</a>
      <a href="#menu" class="nav-button">Menu</a>
    </div>
  </div>
</div>
