
<% if (data.length){ %>
  <% if (data[0]["name"]) { %>
  <div class="nav-bar-wrapper">
    <div class="nav-bar-card">
      <div class="nav-test">
        <a href="/profile" class="nav-profile-btn">Profile</a>
        <form class="hello-logout" action="/logout" method="POST">
          <label class="hello-name" for="username">Hello <%= data[0]["name"] %></label>
          <button class="logout-btn" type="submit">Logout</button>
        </form>
      </div>
      <div class="container-right">
        <a href="/" class="nav-button">Home</a>
      </div>
    </div>
  </div>
  <% } else { %>
    <div class="nav-bar-wrapper">
      <div class="nav-bar-card">
        <div>
          <a href="/login" class="nav-button">Login</a>
          <a href="/registration" class="nav-button">Register</a>
        </div>
        <div class="container-right">
          <a href="/" class="nav-button">Home</a>
          <a href="/" class="nav-button">Contact</a>
        </div>
      </div>
    </div>
  <% } %>
<% } else {%>
  <div class="nav-bar-wrapper">
    <div class="nav-bar-card">
      <div>
        <a href="/login" class="nav-button">Login</a>
        <a href="/registration" class="nav-button">Register</a>
      </div>
      <div class="container-right">
        <a href="/" class="nav-button">Home</a>
        <a href="/" class="nav-button">Contact</a>
      </div>
    </div>
  </div>
<% } %>
