
<% if (user){ %>
  <div class="nav-bar-wrapper">
    <div class="nav-bar-card">
      <div>
        <form action="/logout" method="POST">
          <label for="username">Hello <%= user["name"] %></label>
          <button type="submit">Logout</button>
        </form>
        <a href="/profile">Profile</a>
      </div>
      <div class="container-right">
        <a href="#menu" class="nav-button">Menu</a>
        <a href="#contact" class="nav-button">Contact</a>
      </div>
    </div>
  </div>
<% } else {%>
  <div class="nav-bar-wrapper">
    <div class="nav-bar-card">
      <div>
        <a href="/login" class="nav-button">Login</a>
        <a href="/registration" class="nav-button">Register</a>
      </div>
      <div class="container-right">
        <a href="#menu" class="nav-button">Menu</a>
        <a href="#contact" class="nav-button">Contact</a>
      </div>
    </div>
  </div>
<% } %>
