<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>

  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/nav_bar.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>

  <% include partials/_navbar.ejs %>
  <div class="log-in-container">
    <form action="/login" method="POST" class="log-in-form">
      <h3 class="log-in-title"> Login </h3>
      <table>
          <div class="log-in-name-container">
              <label for="username" class="log-in-label">Username</label>
              <input type="text" class="log-in-input" name="username"></input>
          </div>
          <div class="log-in-password-container">
              <label for="password" class="log-in-label">Password</label>
              <input type="text" class="log-in-input" name="password"></input>
            </div>
      </table>
      <button type="submit" class="log-in-submit-button">Login</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
