<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Profile</title>
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/profile.css">
  <link rel="stylesheet" href="/styles/nav_bar.css">
  <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>

  <% include partials/_navbar.ejs %>

  <main class="profile-container">
      <a href="#" type="submit" class="profile-btn">Edit Profile</a>
      <a href="#" type="submit" class="order-btn">Order History</a>

    <section class="edit-profile-container">
      <form action="/profile/edit" method="POST" class="edit-form">
        <div class="edit-phone-container">
          <label for="phoneNumber" class="edit-label">Phone Number:</label>
          <input id="editPhoneNumber" type="text" class="edit-input" name="phoneNumber" value="<%= data[0]["phone_number"] %>">
        </div>
        <div class="edit-password-container">
          <label for="password" class="edit-label">Password:</label>
          <input id="editPassword" type="text" class="edit-input" name="password" placeholder="new password">
        </div>
        <button type="submit" class="edit-button">SAVE</button>
      </form>
    </section>

    <section class="order-history">
      <header class="order-header">
        <label for="date" class="order-date">Date</label>
        <label for="order" class="order-list">Order</label>
        <label for="cost" class="order-cost">Total Cost</label>
      </header>
      <table class="user-history">
        <% if (dateArray.length) { %>
          <% for (let i = dateArray.length-1; i >= 0; i--) { %>
            <tr class="individual-user">
            <td for="date" class="order-date"><%= dateArray[i] %></td>
            <td for="order" class="order-list"><%= itemArray[i] %></td>
            <td for="cost" class="order-cost"><%= costArray[i] %></td>
            </tr>
          <% } %>
        <% } %>
        </table>
  </main>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</body>

</html>
