.log-in-container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  background: white;
  background-image: url(/docs/christina-branco-7P-wc2Z2Ujs-unsplash.jpg);
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.login-img {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

.log-in-form {
  z-index: 1;
  position: sticky;
  display: grid;
  grid-column: 2;
  grid-template-rows: repeat(1, 1fr);
  height: 250px;
  background-color: transparent;
}

.log-in-title {
  display: grid;
  grid-row: 1;
  text-align: center;
  color: white;
}

.log-in-name-container {
  display: grid;
  grid-row: 2;
  grid-template-columns: 100px 1fr;
}

.log-in-password-container {
  display: grid;
  grid-row: 3;
  grid-template-columns: 100px 1fr;
  border: none;
}

.log-in-submit-button {
  grid-row: 4;
  border: none;
  background: transparent;
  color: white;
}

.log-in-label {
  grid-column: 1;
  justify-self: end;
  align-self: center;
  padding-right: 1em;
  color: white;
}

.log-in-input {
  grid-column: 2;
  height: 60%;
  align-self: center;
  border: none;
  background: transparent;
  border-bottom: 2px solid #d79922;
}
