.log-in-container {
  display: flex;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  background: white;
  height: 79vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.log-in-form {
  z-index: 1;
  display: block;
  position: relative;
  margin-top: 150px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  letter-spacing: 4px;
  font-weight: 300;
  border: 2px solid #c5cbe3;
  padding: 25px;
}


.log-in-title {
  display: flex;
  text-align: center;
  color: grey;
  font-weight: 300;
  padding-left: 16px;
  margin-bottom: 30px;
}

.log-in-name-container {
  display: flex;
}

.log-in-password-container {
  display: flex;
  grid-template-columns: 100px 1fr;
  border: none;
}

.log-in-submit-button {
  border: none;
  display: flex;
  background: transparent;
  color: black;
  margin-left: 90px;
  padding: 15px;
  letter-spacing: 4px;

}

.log-in-label {
  display: flex;
  align-self: center;
  padding-right: 1em;
  color: black;
}

.log-in-input {
  border: none;
  background: transparent;
  border-bottom: 2px solid #d79922;
  margin-bottom: 16px;
  align-items: center;
}
