body {
  background-color: white;
  height: 100%;
  margin: 0;
  margin-top: 72px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.header-image {
  position: relative;
  width: 100%;
  height: 800;
  opacity: 0.8;
}

h1 {
  position: absolute;
  top: 210;
  left: 130;
  color: white;
  font-size: 50px;
  font-style: italic;

}
.content-wrapper {
  position: relative;
}

.scroll-menu-nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap;
  padding: 1.5em;
}

.search-toggle {
  display: flex;
}

.search-icon {
  border: none;
  background: transparent;
  outline: 0;
}

.search-button {
  border: none;
  background: transparent;
  outline: 0;
}

.search-container {
  display: flex;
  border: 2px solid #c5cbe3;
  width: 250px;
}
.search-input {
  text-decoration: none;
  padding: 20px;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  letter-spacing: 4px;
}
.menu-item-btn {
  text-decoration: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #c5cbe3;
  padding: 20px;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  letter-spacing: 4px;
  color: #d79922;
}

.menu-item-btn:hover {
  border-bottom: 2px solid #aab6fb;
}
.menu-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  width: 100%;
}

.counter {
  padding-left: 45px;
  white-space: nowrap;
}

.minus {
  color: #4056A1;
  -webkit-text-stroke: .3px;
  padding: 5px;
}
.plus {
  color: #4056A1;
  -webkit-text-stroke: .3px;
  padding: 5px;
}

.menu-item-counter {
  text-align: center;
  font-weight: bold;
  width: 50px;
  border: none;
  font-size: medium;
}

.menu-item {
  table-layout: fixed;
  align-items: center;
  grid-column: 1;
  border: 3px solid #d1dfd5;
  border-radius: 15px;
  margin: 30px;
  padding-left: 15px;
  padding: 15px;
}

.inside-menu {
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #c5cbe3;
  white-space: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-name {
  width: 25%;
  white-space: nowrap;
  letter-spacing: 1px;
}
.item-desc {
  font-style: italic;
  word-wrap: normal;
  width: 40%;
}

.item-price {
  width: 20%;
  padding-left: 30px;
  letter-spacing: 1px;
}

.checkout-container {
  table-layout: fixed;
  grid-column: 2;
  border: 3px solid #aab6fb;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  margin-top: 30px;
  margin-right: 30px;
  overflow: scroll;
  max-height: 100px;
}

.checkout-item {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #c5cbe3;
  margin-top: 10px;
  margin-bottom: 10px;

}

.chkout-item-name {
 width: 45%;
 margin: 0px;
 white-space: nowrap;
}

.chk-out-total {
text-align: left;
color: grey;
font-weight: bold;
}

.plus-minus-btns {
  white-space: nowrap;
  width: 15%;
  padding-left: 10px;
}

.item-count {
  white-space: nowrap;
  width: 10%;
}
.checkout-btn {
  text-align: center;
  border-style: double;
  border: 2px solid #d79922;
  border-radius: 15px;
  color: #d79922;
}

.checkout-container-submit-form {
  table-layout: fixed;
  z-index: 10;
  display: inline-grid;
  grid-column: 2;
  border: 2px solid #aab6fb;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  margin-top: 30px;
  margin-right: 30px;
  overflow-y: hidden;
}

.reveal-when-credit {
  border-bottom: 1px solid #d79922;
}

#input-name {
  border: none;
  border-bottom: 1px solid #d79922;
  width: 50%;
  letter-spacing: 4px;
  outline: 0;
  font-size: 16px;
}

#input-number {
  border: none;
  border-bottom: 1px solid #d79922;;
  width: 50%;
  letter-spacing: 4px;
  outline: 0;
  font-size: 16px;
}
.reveal-when-credit {
  overflow: hidden;
}

.form-rows {
  display: flex;
  justify-content: space-between;
}

#payment-methods {
  border: 1px solid #d79922;
  padding: 10px;
}

.order-btn {
  border: none;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  outline: 0;
}
.order-btn:hover {
  border: 3px solid #c5cbe3;
}

.back-to-checkout-btn {
  border: none;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  outline: 0;
}
.back-to-checkout-btn:hover {
  border: 3px solid #c5cbe3;
}

.submit-form-label {
  padding-left: 0px;
}

.no-item {
  border:2px solid red;
}

.final-message {
  align-self: center;
  justify-self: center;
  position: absolute;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  margin-top: 30px;
  margin-right: 30px;
  grid-column: 2;
  z-index: 11;
}

#food-names {
  display: none;
  text-decoration: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.no-item {
  border: 2px solid red;
}
