body {
  background-color: #EEE;
  height: 100%;
  margin: 0;
  padding: 0;
}
.video {
  position: relative;
}
.content-wrapper {
  position: relative;
}

.scroll-menu-nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap;
  padding: 1.5em;
}

.search-toggle {
  display: flex;
  text-decoration: none;
  border: 2px solid #c5cbe3;
  background: none;
}

.search-container {
  display: flex;
  border: 2px solid #c5cbe3;
}
.search-input {
  text-decoration: none;
  padding: 20px;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  letter-spacing: 4px;
}
.menu-item-btn {
  text-decoration: none;
  border: 2px solid #c5cbe3;
  padding: 20px;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  letter-spacing: 4px;
}

.menu-item-btn:hover {
  border-bottom: 2px solid #4056A1;
}

.menu-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  width: 100%;
}

.minus {
  color: #4056A1;
  -webkit-text-stroke: .3px;
}
.plus {
  color: #4056A1;
  -webkit-text-stroke: .3px;
}

.menu-item-counter {
  text-align: center;
  font-weight: bold;
  width: 25px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1;
  border: 4px solid #d79922;
  border-radius: 20px;
  margin: 15px;
  padding-left: 15px;
  padding: 15px;
}


.checkout-container {
  grid-column: 2;
  border: 4px solid #4056A1;
  border-radius: 20px;
  margin: 15px;
  border-bottom: none;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 25px;
  border-bottom: 3px solid #c5cbe3;
}
h4 {
 padding-left: 10px;
 margin: 0px;
}

.item-price {
  padding-right: 10px;
}
.checkout-btn {
  display: flex;
  justify-content: space-around;
  border: 4px solid #F13C20 ;
  border-radius: 20px;
  background: #F13C20;
  color: white;
}


.test {
  border-radius: 20px;
}
