.nav-bar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  top: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid #c5cbe3;

}

.nav-button {
  color: #4056A1;
}
.nav-bar-card {
  display: flex;
  justify-content: space-between;
  letter-spacing: 4px;
  line-height: 1.5;
  padding: 1.5em;
  font-family: 'Raleway', sans-serif;
  align-items: center;
}

.nav-profile-btn {
  text-decoration: none;
  color: #4056A1;
  font-family: 'Raleway', sans-serif;
}

.hello-name {
  padding-left: 15px;
  color:#d79922;
}

.logout-btn {
  text-decoration: none;
  border: none;
  letter-spacing: 4px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #4056A1;
}

.hello-logout {
  display: flex;
}
.logout-btn:hover {
  cursor: pointer;
}
.nav-test {
  display: flex;
  font-family: 'Raleway', sans-serif;
  align-items: center;
}

.nav-profile {
  margin-right: 1em;
  font-family: 'Raleway', sans-serif;
}

.nav-button {
  text-decoration: none;
}

