.profile-container {
  display: grid;
  grid-template-rows: 50px repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Raleway', sans-serif;
}

.profile-navbar {
  background-color: white;
  align-self: center;
  justify-self: center;
  grid-row: 1;
  grid-column: 2;
  padding: 1em;
}

.edit-profile-container {
  grid-row: 2;
  grid-column: 1;
  padding: 1em;
  justify-self: center;
}

.order-history {
  grid-row:2;
  grid-column: 2;
  padding: 1em;
  justify-self: center;
}

.user-history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.profile-btn {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
  text-decoration: none;
  padding: 1em;
  letter-spacing: 2px;
}

.order-btn {
  grid-row: 1;
  grid-column: 2;
  text-decoration: none;
  padding: 1em;
  letter-spacing: 4px;
}

.order-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.order-date {
  grid-column: 1;
}

.order-list {
  grid-column: 2;
  flex-wrap: wrap;
}

.order-cost {
  grid-column: 3;
}

.edit-form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.edit-phone-container {
  padding: 1em;
  grid-row: 1;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.edit-password-container {
  padding: 1em;
  grid-row: 2;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.edit-button {
  padding: 1em;
  grid-row: 3;
  outline: 0;
  border: none;
}

.edit-label {
  grid-column: 1;
  align-self: center;
  padding-right: 1em;
}

.edit-input {
  grid-column: 2;
  height: 100%;
  align-self: center;
}
