.registration-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.registration-form {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.registration-title {
  grid-row: 1;
  justify-self: center;
}

.registration-name-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.registration-phone-container {
  grid-row: 3;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.registration-password-container {
  grid-row: 4;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.registration-button {
  grid-row: 5;
}

.registration-label {
  grid-column: 1;
  justify-self: end;
  align-self: center;
  padding-right: 1em;
}

.registration-input {
  grid-column: 2;
  height: 60%;
  align-self: center;
}